set multiple-cursors
set vim-easymotion
set vim-surround
set vim-textobj-entire
set which-key

set relativenumber
set clipboard+=unnamed

# which-key 超时
set notimeout

#nnoremap <UP> kzz
#nnoremap <DOWN> jzz

# A

# B
noremap <Space>bl :action Annotate<CR>

# C
noremap <Space>c<Space> :action CleanGradleProject<CR>
noremap <Space>cl :action CloseProject<CR>

# D
noremap <Space>d<Space> :action AndroidConnectDebuggerAction<CR>


# E
noremap <Space>e<Space> :action RecentFiles<CR>

# F
noremap <Space>fi :action GotoImplementation<CR>
noremap <Space>fu :action FindUsages<CR>
noremap <Space>fs :action FileStructurePopup<CR>
noremap <Space>f<Space> :action FindInPath<CR>

# G
noremap <Space>g<Space> :action Generate<CR>
noremap <Space>gh :action Vcs.ShowTabbedFileHistory<CR>
noremap <Space>gl :action Vcs.Show.Local.Changes<CR>

# L
noremap <Space>l<Space> :action ShowReformatFileDialog<CR>

# O
noremap <Space>op :action $LRU<CR>

# P
noremap <Space>p :action SelectInProjectView<CR>

# R
noremap <Space>r<Space> :action Run<CR>

noremap <Space>rel :action Refactorings.QuickListPopupAction<CR>
noremap <Space>ren :action RenameElement<CR>
noremap <Space>res :action ChangeSignature<CR>

# S
noremap <Space>s<Space> :action Android.SyncProject<CR>

# T
noremap <Space>tig :action Vcs.Show.Log<CR>

# other
noremap <Space><Space> :action GotoDeclaration<CR>
